
/* contacto del header */

.header__contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__link-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}
.header__link-contact:focus,
.header__link-contact:hover{
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header__icon-folder {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* ---------------------- */
/* INDEX */
/* ---------------------- */


/*  BACKDROP */

.backdrop{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.modal{
  display: flex;
  justify-content: right;
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform cubic-bezier(0.4, 0, 0.2, 1), 1s;
  transform: translateY(0);
  
}
.modal.is-hidden{
  transform: translateY(100%);
}
.modal__bottom-close {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 8px 0 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  z-index: 1;
  fill: var(--logo-black);
}
.modal__bottom-close:hover,
.modal__bottom-close:focus {
  fill: var(--accent-color);
}
.form{
  padding: 40px;
  position: absolute;
}
.form__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  width: 448px;
  color: var(--primary-title-color);
}
.form__label{
  position: relative;
}
.form__label:hover,
.form__label:focus{
fill: var(--accent-color);  
}
.form__input{
  display: block;
  padding: 14px 35px;
  outline: none;
  margin: 4px 0 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  outline: none;
}
.form__input:hover,
.form__input:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
  
}
.form__icon{
  color: var(--primary-title-color);
  position: absolute;
  width: 13px;
  margin: 0 15px;
  top: 50%;
  transform: translateY(-50%);
}
.form__checkbox{
  position: absolute;
  appearance:var(--logo-black) ;
  border: 1px solid var(--logo-black);
  width: 16px;
  height: 15px;
}
.form__checkbox:checked{
  border: none;
  background-image: url(../images/ok.svg);
}
.form__comment{
  padding: 16px;
}
.form__comment::placeholder{
  color: rgba(117, 117, 117, 0.5);
  
}
.form__text{
  position: relative;
  right: -25px;
  width: 400px;
  margin-bottom: 12px;
  line-height: 1.7;
}
.form__send{
  background-color: var(--accent-color);
  padding: 10px 75px;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.form__send:hover,
.form__send:focus{
  background-color: var(--button-primary-hover);
}


/*  TITULO PRINCIPAL */

.hero{
  padding: 207px 0 182px;
  background-color: var(--background-black);
  background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/background-image.jpeg);
  background-size: cover;
}
.hero__title{
  text-align: center;
  width: 696px;
}
.hero__h1 {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
}
.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  margin-top: 30px;
  
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-primary-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* BENEFICIOS DE LA COMPAÑIA */

.benefits {
  display: flex;
  padding-top: 82px;
  justify-content: space-between;
  gap: 40px;
}
.benefits__column {
  flex-basis: calc((100% - 90px)/4);
}
.benefits__icon {
  display: flex;
  width: 270px;
  padding: 25px;
  margin-bottom: 30px;
  fill: var(--primary-title-color);
  border-radius: 4px;
  border: none;
  background-color: var(--background-gray);
}
.benefits__icon-svg {
  height: 70px;
}
.benefits__title {
  color: var(--primary-title-color);
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__text{
  color: var(--primary-text-color);
  line-height: 1.71;
}
/* A QUE NOS DEDICAMOS */

.title-h2{
  color: var(--primary-title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.166;
  padding: 94px 0 50px;
  text-align: center;
}
.we-do{
  display: flex;
  padding-bottom: 94px;
  justify-content: space-between;
}
.we-do__image-1 {
  background-image:url(../images/image1.jpeg);
  flex-basis: calc((100% - 90px)/3)
}
.we-do__image-2 {
  background-image: url(../images/image2.jpeg);
  flex-basis: calc((100% - 90px)/3)
}
.we-do__image-3 {
  background-image: url(../images/image3.jpeg);
  flex-basis: calc((100% - 90px)/3)
}
.we-do__text {
  display:flex;
  border: none;
  height: 70px;
  font-size: 14px;
  line-height: 1.142;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  margin-top:224px;
  justify-content: center;
  align-items: center;
}

/* NUESTRO EQUIPO */

.our-team{
  background-color: var(--background-gray);
  padding-bottom: 94px;
  padding-top: 1px;
}
.our-team__members{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.our-team__members-card{
  background-color: var(--primary-white-color);
  border-radius: opx opx 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}
.our-team__name {
  color: var(--primary-title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin : 30px 0 10px;
  
}
.our-team__profession{
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.187; 
}
.social-networks{
  display: flex;
  margin: 16px 32px 32px;
  justify-content: space-between;
}
.social-network {
  background-color: var(--primary-white-color);
  width: 44px;
  height: 44px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  fill: var(--icon-color);
  padding: 12px;
}
.social-network:focus,
.social-network:hover{
  background-color: var(--accent-color);
  cursor: pointer;
  fill: var(--primary-white-color);
}
.social-network-icon{
  height: 20px;
  width: 20px;
}

/* CLIENTES REGULARES */

.regular-customers{
  display: flex;
  justify-content: space-between;
  padding-bottom: 151px;
}
.regular-customers__link{
  background: var(--primary-white-color);
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 81px;
  border: 1px solid #AFB1B8;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
}
.regular-customers__link:hover,
.regular-customers__link:focus{
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.regular-customers__icon{
  width: 106px;         
}

/* FOOTER */
 
/* Lista de contacto */
.footer{
  background-color: var(--background-black);
  padding: 60px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__contact{
  width: 231px;
}
.footer__address{
  margin-top: 9px;
}
.footer__address-link{
  color: var(--text-white-opacy);
  font-style: normal;
  line-height: 1.71;
}
.footer__address-link:hover,
.footer__address-link:focus {
color: var(--primary-white-color);
}

/* redes sociales */
.footer__titles{
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}
.social-networks--dark{
  margin-left: 0;
  gap: 10px;
}
.social-network__gray{
  border-radius: 25px;
  background-color: #ffffff1a;;
  padding: 12px;
  cursor: pointer;
  fill: var(--primary-white-color);
}
.social-network__gray:hover,
.social-network__gray:focus{
  background-color: var(--accent-color);
  cursor: pointer;
  fill: var(--primary-white-color);
}

/* Suscripción */

.footer__input{
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
  font-size: 16px;
  line-height: 1.25;
  outline: none;
}
.footer__input:active {
  border: none;
}
.footer__button{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 16px 28px 15px 39px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
}
.footer__button:hover{
  background-color: var(--button-primary-hover);
}
.footer__send{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer__icon-send{
  width: 24px;
  height: 24px;
}

/* ----------------------------------------- */
/* PORTAFOLIO */
/* ----------------------------------------- */


.portfolio{
  padding-bottom: 82px
}

/* botones */
.portfolio__lists {
  display: flex;
  padding-top: 95px;
  padding-bottom: 56px;
  justify-content: center;
  gap: 8px;
}
.portfolio__list {
  background: var(--background-gray);
  border-radius: 4px;
  padding: 6px 24px;
  border: none;
  color: var(--primary-title-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
}
.portfolio__list:hover,
.portfolio__list:focus{
  height: 38px;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-white-color);
  cursor: pointer;
}

/*imagenes*/

.portfolio__cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__card{
  background: var(--primary-white-color);
  border: 1px solid #EEEEEE;
  width: 370px;
}
.portfolio__card:focus,
.portfolio__card:hover{
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card-description{
  position: relative;
  overflow: hidden;
}
.portfolio__card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: rgba(33, 149, 243, 0.9);
  color: var(--primary-white-color);
  
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  
  transform: translateY(100%);
  transition: transform ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .portfolio__card-description .portfolio__card-overlay{
  transform: translateY( 0%);
}
.portfolio__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    margin-left: 24px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 4px;
    width: 370px;
}
.portfolio__card-text {
    color: #757575;
    line-height: 2.14;
    text-align: left;
    margin-left: 24px;
}

